body {
    background-color: white;
}
.row {
    display: flex;
   
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2898c7;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
}
/* Style to place brand logo */
.sidenav-logo {
    display: flex;
    align-items: center;
}
.sidenav-logo img {
    width: 40px;
    height: auto;
    margin-left: 20px;
    border: 1px solid black;
}

.project-label {
    font-family: 'Inria Sans';
    font-weight: medium;
    margin-left: 5px;
}
/* style horizontal line on sidebar */
.sidenav-line {
    width: 150px;
    border: 1px solid #F1F1F4;
    margin: 40px 0px;
}

/* Style listed menu item on sidebar */
.menu {
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 50px;
}

.menu-content {
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: none;
    margin: 35px 0px;
}

.menu-content:hover {
    background-color: #E5F0FF;
    color: #006AFF;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    font-weight: bold;
}

.logo {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
}

.logo img {
    width: 110px;
    height: auto;
}

/* Topnav bar CSS */
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 40px;
    margin-left: 0.1rem;
    margin-top: -10px;
    padding: 15px 25px;
    display: flex;
}

.back-container {
    position: relative;
    margin-left: 20px;
}

.back-container span {
    margin-right: 10px;
    font-size: large;
    margin-left: 10px;
    font-family: 'Inria Sans', sans-serif;
}

.user-container {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    margin-right: 10px;
    font-size: medium;
    font-family: 'Inter', sans-serif;
}
/* Style Main content */
.main {
    margin-left: 220px;
    width: calc(100% - 220px);
    height: 100%;
}


.main-content {
    height: 100%;
    font-family: 'Inria Sans', sans-serif;
    background-color: #F1F1F4;
}

.main-content h1 {
    color: black;
    font-family: sans-serif;
}

.main-content p {
    font-family: 'Inter', sans-serif;
}

.avatar-dispaly {
    width: 150px; 
    height: 150px; 
    border-top: 80px;
    border-radius: 50%;
  }
  .profile-pic{
   
    margin-left: 650px;
  }

.edit-profile-picture-button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 40px; 
    height: 40px; 
    border: 2px solid #007bff; 
    border-radius: 50%; 
    cursor: pointer;
  }
  
  /* Style the image within the button */
  .edit-profile-picture-button img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  /* Hide the file input */
  #profilePictureInput {
    display: none;
  }
  

/*my profile css */
.custom-input {
    width: 630px;
    height: 38px;
    background-color: #f8f8f8;
    border: black 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

.custom-input-half {
    width: 305px;
    height: 38px;
    background-color: #f8f8f8;
    border: black 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    border-right:30px;
}
.edit-content{
    margin-left:400px;
}

.button{
    display: flex;
}

.save-changes-button {
    font-size: x-large;
    font-weight: bolder;
    color: #fff;
    border: none;
    border-radius: 30px;
    background-color:#2196f3;
    padding: 10px 25px;
    width: 100px;
    height: 45px;
    margin: 30px 30px 0px 0px;
}

.save-changes-button:hover {
    font-weight: bolder;
    cursor: pointer;
    background-color:  #2196f3;
}
.cancle-changes-button {
    font-size: x-large;
    font-weight: bolder;
    color: #fff;
    border: none;
    border-radius: 30px;
    background-color: #2196f3;
    padding: 10px 25px;
    width: 130px;
    height: 45px;
    margin: 30px 30px 0px 0px;
}

.cancle-changes-button:hover {
    font-weight: bolder;
    cursor: pointer;
    background-color:  #2196f3;
}