body {
    background-color: #F1F1F4;
}

/* Style to create a sidebar on the left */
.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style to place brand logo */
.sidenav-logo {
    display: flex;
    align-items: center;
}

.sidenav-logo img {
    width: 180px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
}

/* style horizontal line on sidebar */
.sidenav-line {
    width: 180px;
    border: 1px solid #F1F1F4;
    margin: 40px 0px;
}

/* Style listed menu item on sidebar */
.menu {
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.menu-content {
    display: flex;
    align-items: center;
    color: #585874;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: none;
    margin: 35px 0px;
}

.menu-content:hover {
    background-color: #E5F0FF;
    color: #006AFF;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
}

/* CSS main section of dashboard page */
.main {
    margin-left: 220px;
    width: calc(100% - 220px);
    height: 100%;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 40px;
    margin-left: 0.1rem;
    margin-top: -10px;
    padding: 15px 25px;
    display: flex;
}

.main-content {
    background-color: #F1F1F4;
}

/* Topnav bar CSS */
.back-container {
    position: relative;
}

.back {
    padding-left: 45px;
    font-weight: bolder;
    font-size: large;;
    color: black;

}

.search-input-container {
    position: relative;
}

.search-input {
    padding-left: 30px;
    width: 400px;
    height: 40px;
    background-color: #F1F1F4;
    border: #F1F1F4;
    border-radius: 8px;

}

.search-input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888;
    margin-left: 20px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #7f7f86;
}

.user-container {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    margin-right: 10px;
    font-size: large;
}

.dropdown-icon {
    font-size: 16px;
}

/* Style Main content */
.main-content {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 20px;
}

.main-content h1 {
    color: #2898c7;
    font-family: sans-serif;
}

.main-content p {
    font-family: 'Inter', sans-serif;
}

/* Project section CSS */
.grid-2 {
    width: 100%;
    height: 100vh;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.project-header h1 {
    margin: 0;
}

.export-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.export-dropdown p {
    color: #585874;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: none;
    margin: 0;
}

.buttons-container {
    display: flex;
    gap: 15px;
}

.create-project-btn,
.filter-btn {
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    /* Smooth color transition */
}

.create-project-btn {
    background-color: #2898c7;
    width: 120px;
    border: none;
    font-size: 16;
    font-weight: bold;
    color: #fff;
    margin-left: -20px;
    transition: background-color 0.3s ease; 
}

.create-project-btn:hover {
    background-color: #09709d;
}

.filter-btn {
    background-color: white;
    color: #A8A8BD;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #C5C5D3;
}

.filter-btn:hover {
    background-color: #F1F1F4;
}

/* CSS for project table */
.project-table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 50px;
}

.project-table th,
.project-table td {
    padding: 15px 20px;
    text-align: left;
}

.project-table thead th,
.project-table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #e0e0e0;
}

.progress-button {
    background-color: #D9F2DD;
    border-radius: 12px;
    border: none;
    color: #359742;
    padding: 5px 10px;
}

.project-table thead th {
    color: #6d6d70;
    font-weight: lighter;
    font-size: medium;
    font-family: 'Inter', sans-serif;
}

.project-table tbody tr {
    color: black;
    font-size:small;
    font-family: 'Inter', sans-serif;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 20px 50px;
}

.prev-btn, .next-btn {
    font-family: 'Inter', sans-serif;
    padding: 10px 15px;
    border: 1px solid #C5C5D3;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.prev-btn:hover, .next-btn:hover {
    background-color: #2898c7;
}

.prev-btn i, .next-btn i {
    margin: 0 5px;
}

.page-numbers {
    display: flex;
    gap: 10px;
}

.page-number {
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #6E6E91;
    font-family: 'Inter', sans-serif;
}

.page-number:hover {
    background-color: #e0e0e0;
}

.page-number.active {
    background-color: #E5F0FF;
    color: 006AFF;
}

.search-filters{
padding-left: 40px;
padding-right: 40px;

}
.borderless-dropdown{
    border: none;
    background-color: transparent; /* Remove background color */
    padding: 5px; /* Add some padding for visual separation */
    font-size: 14px; /* Adjust font size as needed */
}


.filter-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Add some spacing between the filters and the table */
}

/* Style for filter groups */
.filter-group {
    display: flex;
    align-items: center;
}

/* Style for labels */
.filter-group label {
    font-weight: bold;
    margin-right: 5px;}
