/* General CSS */
body {
    background-color: #ececec;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.row {
    display: flex;
    width: 100%;
}

.column {
    flex: 1;
    box-sizing: border-box;
}

label {
    font-family: Arial;
    font-weight: 300;
    font-size: small;
    color: rgba(0, 0, 0, 0.7);
}

a {
    color: #0052cc;
}

#confirm-button {
    font-size: large;
    font-weight: bolder;
    color: #fff;
    border: none;
    border-radius: 30px;
    background-color: #2898c7;
    padding: 5px 10px;
    width: 110px;
    height: 30px;
    margin: 30px 0px;
}

#confirm-button:hover {
    background-color: #09709d;
    cursor: pointer;
}

#skip {
    color: grey;
    text-decoration: underline;
    margin-left: 30px;
}

#skip:hover {
    color: #2898c7;
    cursor: pointer;
}

/* signup page CSS */
.signup-body {
    background-color: #ececec;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    margin: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    overflow: auto;
}

.main-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo {
    width: 240px;
    height: auto;
}

.signup-row {
    display: flex;
    width: 100%;
}

.signup-column {
    flex: 1;
    box-sizing: border-box;
}

.signup-column h1 {
    color: #2898c7;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    padding-right: 30px;
}

.signup-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 40px;
}

.signup-img img {
    max-width: 60%;
    height: auto;
}

.custom-input {
    width: 630px;
    height: 38px;
    background-color: #f8f8f8;
    border: black 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

.custom-input-half {
    width: 305px;
    height: 38px;
    background-color: #f8f8f8;
    border: black 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
}

.last-name {
    margin-left: -40px;
}

.policy {
    font-size: large;
    font-family: sans-serif;
}

.create-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-account-button {
    font-size: x-large;
    font-weight: bolder;
    color: #fff;
    border: none;
    border-radius: 30px;
    background-color: #4cbb17;
    padding: 10px 25px;
    width: 280px;
    height: 45px;
    margin: 30px 30px 0px 0px;
}

.create-account-button:hover {
    font-weight: bolder;
    cursor: pointer;
    background-color: #317b0e;
}

/* MFA Page CSS */

.mfa-logo {
    width: 210px;
    height: auto;
}

.mfa-container {
    background-color: white;
    margin: 30px 400px;
    width: calc(100% - 800px);
    height: calc(100% - 60px);
    overflow: auto;
}

.mfa-container h1 {
    margin: 30px 0px;
}

.mfa-container p {
    margin: 0px 90px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.para-2 {
    text-align: center;
    padding: 50px 100px 0px 110px;
    font-size: large;
    font-weight: 100;
}

.para-3 {
    text-align: center;
    padding: 0px 110px 20px 140px;
    font-size: large;
    font-weight: 100;
}

.line-container {
    display: flex;
    align-items: center;
    size: 20px;
    margin: 15px 180px 70px;
}

.disabled,
.enabled {
    font-size: large;
    font-weight: 100;
    margin-right: 40px;
    margin-left: 40px;
}

#mfa-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
}

/* Toggle switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}